html
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
header
{
    padding-top: 8px;
    padding-left: 8px;
}
body
{
    font-family: "Helvetica Neue", Helvetica, Calibri, Arial;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #000000;
    background-image: url(./images/11.jpg);
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


table {
    font-size:12px;
    padding: 0px;
    border: 0px;
}
tr {
    padding: 0px;
    border: 0px;
}
td {
    padding: 0px;
    border: 0px;
}


div
{
    float: left;
    font-size:12px;
    position: fixed;
    background-image:url(./images/50white.png);
    border: 1px solid #888888;
    box-shadow: 5px 5px 10px #222222;
}
#genDiv
{
    top: 215px;
    left: 221px;
    width: 400px;
    padding: 5px;
    margin-bottom: 20px;
}
#topDiv
{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #888888;
    box-shadow: none;
    background-image: none;
	padding-bottom: 15px;
}

#resDiv
{
    position: static;
	height: calc(100% - 40px);
    width: 100%;
    border: none;
    border-bottom: 1px solid #888888;
    box-shadow: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: none;
	margin-top: 0px;
}
#backDiv
{
    position: fixed;
    top: 20px;
    left: 655px;
    width: auto; max-width: 380px;
    bottom: 20px;
    padding: 15px;
	padding-bottom: 20px;
    margin-right: 20px;
}

#chooseBackgroundSpan
{
    width: 50%;
}

input[type=text] { width: 100%; }
input[type=number] { width: 100%; }
input[type=submit] { width: 100%; }


#update
{
    width: 50%;
    float: left;
    
}
select
{
    width: 50%;
    text-align: -webkit-center;
    text-align: center;
    direction: rtl;
}
option
{
    width: 100%;
}

article
{
    margin-top: 2em;
    margin-bottom: 3em;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
}

.rolltext
{
    margin-top: 0em;
}

.timestamp
{
    font-size:9px;
    display: none;
    margin-bottom: 0em;
}

#hiddenTimeNow
{
    display: none;
}

.errorText
{
    color: red;
    text-align: center;
    line-height: 175%;
}
.resultsText
{
    text-align: center;
    line-height: 175%;
}
.bold
{
    font-weight: bold;
}
.italics
{
    font-style: italic;
}
title
{
    font-style: italic;
}
