body	
	{ 
		margin-left: 5%; 
		margin-right: 5%;  
		padding-left:2em; 
		padding-right: 2em; 
		clear:both;		
		font-family: "Open Sans", Helvetica, arial,"sans-serif";
		font-size: 0.9em;
	}
a	
	{ 
		color:#202020; 
		text-decoration:none; 
		font-weight: bold;
		
	}
a:hover	{ color:#787878; }

h1 { font-size: 1.5em; }
h2 { 
	font-size: 1.3em; 
	margin-bottom: 0em; 
	}
h3 { 
	font-size: 1.1em;
	margin-bottom: -0.5em;
	}

#arkhamhorror {float:right;}

.main
	{
		float: left;
		width: 60%;
		margin-right: 2%;
	}
aside
	{
		float: right;
		width: 30%;
		padding-left: 2%;
		margin-left: 2%;
		border-left: 1px dotted;
	}
details summary::-webkit-details-marker 
	{
	display: none;
	}
	
details	
{
	padding-bottom: 0,5em;
	
}
	
footer	
	{
		border-top: 2px solid; 
		margin-top: 1em; 
		clear:both;
	}

spacetext 
	{
		display: flex;
		justify-content: space-between;
	}
	
.title	
	{ 
		clear:both; 
		text-align:center;
	}

nav	{ 
		clear:both;
		border-bottom: 1px solid;
		padding-bottom: 1em;
	}
nav a	
	{ 
		color:black; 
		text-decoration:none; 
		margin-right: 2em;
		font-weight: bold;
	}
iframe 	{ width:100%; border:0; }

details 	{ overflow: visible; }
nav a:hover	{ color:grey; }



figcaption {font-size: 0.5em;}

.mini  {font-size: 0.5em;}
.kursiv {font-style: italic;}

#titleimg {	height: 3em; 	}
.logo	{
			width: 7em;
			margin-right:  -1em;
		}

table	{
		font-size: 0.9em;
		font-style: normal;

	
}
th	{
		text-align: left;
		border-bottom: 1px solid;
	}
td	{
		text-align: left;
		border-bottom: 1px dotted grey;
	}
	
.right {text-align:right;}

.borderless	{ border-bottom: 0px solid;}

table.borderless td { 
		border: 0px solid;
		max-width: 40%;
		word-wrap: break-word;
		}

#top10 { font-size: 0,75em; }
#top10table {padding:0;}
#top10table td {  border-bottom: 0px solid black;}
#top10table tr:nth-child(odd){background-color: #f5f5f5;}